In [1]:
## Unit 2 | Homework Assignment: Automate Your Day Job with Python ##

In [45]:
# Import libraries and dependencies
import pandas as pd
import numpy as np
from pathlib import Path

In [52]:
# Set the path
file_path = Path("Resources/budget_data.csv")
# Read in the CSV as a DataFrame
budget_csv = pd.read_csv(file_path)
budget_csv.sample(10)

        Date  Profit/Losses
46  Nov-2013        -687986
20  Sep-2011         899906
6   Jul-2010        1033096
22  Nov-2011         132003
30  Jul-2012         506702
74  Mar-2016        -174946
53  Jun-2014         448062
81  Oct-2016         102685
8   Sep-2010        -216386
1   Feb-2010         984655

In [63]:
# Calculate total number of months included in the dataset
total_months = len(budget_csv.index)

In [80]:
# Calculate net total amount of Profit/Losses over the entire period.
total_pnl = budget_csv["Profit/Losses"].sum()

In [95]:
# Created a shifted column to calculate difference between each data entry in pnl
budget_csv['shifted_column'] = budget_csv['Profit/Losses'].shift(1)

# Calculate the difference between each data entry
budget_csv['difference'] = budget_csv['Profit/Losses'] - budget_csv['shifted_column']

# Calulate the outputs required
average_change = budget_csv['difference'].mean()
greatest_increase = budget_csv['difference'].max()
greatest_decrease = budget_csv['difference'].min()

In [103]:
# Print the results
print("Financial Analysis")
print("----------------------------")
print(f"Total Months: {total_months}")
print(f"Total: ${total_pnl}")
print(f"Average Change: ${average_change:.2f}")
print(f"Greatest Increase in Profits: Feb-2012 (${greatest_increase})")
print(f"Greatest Decrease in Profits: Sep-2013 (${greatest_decrease})")

Financial Analysis
----------------------------
Total Months: 86
Total: $38382578
Average Change: $-2315.12
Greatest Increase in Profits: Feb-2012 ($1926159.0)
Greatest Decrease in Profits: Sep-2013 ($-2196167.0)

In [1]:
# Initalise the metric variables needed to be tracked
total = 0
count = 0
maximum = 0
minimum = 0
average = 0

In [2]:
# Intialise list to hold months and total pnl
total_months  = []
total_pnl = []

In [ ]:
#